body{
background-color: #6F5499;
background-image: -webkit-linear-gradient(top,#563D7C 0,#6F5499 100%);
background-image: linear-gradient(to bottom,#563D7C 0,#6F5499 100%);
background-repeat: repeat-x;
}

.navbar > div{
background:white;
}

.navbar > div > div{
background:white;
}

.d3_container{
margin-top:61px;
}

.d3_unit{
height:550px;
}

.d3_content{
height:100%;
}

.d3_name{
font-size: 50px;
color: #CDBFE3;
line-height: 55px;
margin-top: 125px;
text-shadow: 1px 1px 1px #333;
-webkit-text-shadow: 1px 1px 1px #333;
-moz-text-shadow: 1px 1px 1px #333;
-o-text-shadow: 1px 1px 1px #333;
-ms-text-shadow: 1px 1px 1px #333;
}

.d3_name:hover{
text-shadow: 0 0 5px white;
-webkit-text-shadow: 0 0 5px white;
-moz-text-shadow: 0 0 5px white;
-o-text-shadow: 0 0 5px white;
-ms-text-shadow: 0 0 5px white;
}

.d3_text{
font-size: 30px;
color: #937AB9;
line-height: 35px;
margin-top: 25px;
float: right;
margin-right: 30px;
text-shadow: 1px 1px 1px #333;
-webkit-text-shadow: 1px 1px 1px #333;
-moz-text-shadow: 1px 1px 1px #333;
-o-text-shadow: 1px 1px 1px #333;
-ms-text-shadow: 1px 1px 1px #333;
}

.dynamo{
text-align:right!important;
}

.logo{
padding: 10px 65px!important;
}

.navbar-inner{
border-radius:0;
}

.navbar .nav>li {
margin-right: 10px;
}

.nav{
font-size:18px!important;
}

.brand.name{
float:right;
}

.me_container{
margin-bottom:30px;
margin-top: 250px;
}


.me_img{
height:100%;
position:relative;
text-align:center;
}

.me_content{
color:white;
}

.me_header{
font-size: 50px;
line-height:55px;
margin-top:20px;
}

.me_body{
font-size:25px;
line-height:40px;
margin-top:24px;
}

.me_body > a{
color:#56A6CE;
}

.me_body > a:hover{
color:#08C;
text-decoration:none;
}

.q_container{
position:fixed;
visibility:hidden;
top:0;
bottom:0;
left:0;
right:0;
z-index:99;
}

.q_container > div > div{
position:relative;
height:600px;
overflow: hidden; 
background: #000; 
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.q_canvas{
position:absolute;
top:0;
bottom:0;
right:0;
left:0;
}

.q_text{
color: #FFF;
font-size: 45px;
line-height: 90px;
position: absolute;
top: 200px;
text-align: center;
left: 330px;
text-shadow: 0 0 10px #08F;
}

.ct_container{
margin-bottom:30px;
margin-top: 250px;
color:#FFF;
font-size:24px;
padding-bottom:300px;
}

.ct_header{
font-size:40px;
}

.ct_container > div > div > span{
margin-left:20px;
}

.ct_content{
margin-top:30px;
}

#canvas_container{
margin-top:61px;
}

hr{
margin-bottom:5px;
}

footer{
color:white;
text-align:center;
}
